body{
	margin-top:0 ;
	margin-left: 0;
}
nav{
	background-color:#4c187c;
}
nav span{
	color:white;
	font-family: "Macondo Swash Caps",cursive;
	font-size: 30px;
	line-height: 1.5;
	margin: 15px;
	margin-right: 20%;
}
nav a{
	display: inline-block;
	color:white;
	text-decoration: none;
	margin-top:20px;
	margin-bottom: 20px;
	width: 15%;
	font-family:"Prompt",sans-serif;
}
nav a:hover{
	font-weight: 300;
}
h1{
	font-family: "Prompt",sans-serif;
	text-align: center;
}
.info{
	display: inline-block;
	height: 200px;
	width: 49%;
	margin: 0;
}
.info p{
	text-align: center;
	font-family: "Poiret One",cursive;
	font-size: 175%;
}